<div class="navbar">
  <div class="navbar-left">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/posts" routerLinkActive="active-link">Posts</a>
    <a routerLink="/create-post" routerLinkActive="active-link">Create Post</a>
  </div>
  <div class="navbar-right">
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
    <a routerLink="/register" routerLinkActive="active-link">Register</a>
    <button class="toggle-button" (click)="toggleDarkMode()">Toggle Dark Mode</button>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
